.DS_Store
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-
/.repl
/node_modules
/electron
*.log
/builds
/app/components
.nrepl-port
/spec/static/test.js
/.repl*
*-init.clj
/.idea
*.iml
/app/js
